.an {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    background-image: url('PX.jpg');
    /* or images/construction.png */
    background-size: cover;
    /* makes it fill the screen */
    background-repeat: no-repeat;
    /* prevents tiling */
    background-size: cover;
    background-blend-mode: lighten;
    text-align: center;


}

.ne {
    background-color: rgb(180, 146, 146);
    display: flex;
    padding: 10px;
    background-blend-mode: lighten;
}

a {
    margin-left: 150px;
}

.Contact {
    /* background-color: rgb(180, 146, 146);
    background-image: url(anne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     background-blend-mode: lighten;
     width: 100%;
     padding: 60px 20px; */

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('anne.jpg') no-repeat center center/cover;
    color: azure;
    padding: 60px 20px;
    width: 100%;
    text-align: center;

}

.abo {
    background-color: rgb(180, 146, 146);
    background-image: url(anne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    color: blue;
    width: 100%;
    padding: 60px 20px;

}

.ani {
    background-color: rgb(180, 146, 146);
    
}

h1 {
    color: blue;
    font-weight: 2000;

}

.ng {
    font-style: oblique;
}

h9 {
    color: midnightblue;
    font-weight: 5000;
    font-size: 50px;
    font-style: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
    height: 550px;
    width: 400px;
}

ol {
    list-style: none;
}
.ad{
    color: cornsilk;
}
.v{
    list-style-type: none;
}